html, body {
  width: 350px;
}

.panel {
  width: 100%;
}

.urlText {
  height: 400px;
  margin-top: -1px;
  resize: none;
  white-space: pre;
  width: 100%;
}

.buttonRow {
  padding: 5px;
  text-align: center;
  width: 100%;
}

.buttonRow > button {
  margin: 5px;
}

.hide {
  display: none;
}
